DEBUG=True
SECRET_KEY='django-insecure-)ve*rf!*k6q7yr7sdt#8x#4vqyn7i9qz3q(ubvdfxe1bh3xmu9=y7'

DB_NAME=slackapp
DB_USER=postgres
DB_PASSWORD=1234
DB_HOST=host.docker.internal
DB_PORT=5432
DATABASE_URL=

CONTAINER=slackapp-web
NETWORK=dtm-slackapp-net